:root {
  font: 16px;
  box-sizing: border-box;

  --bg-color: #f9f4ef;
  --headline-color: #020826;
  --text-color: #716040;
  --time-color: #8c7851;
  --secondary-color: #eaddcd;
  --media-caption-color: #8c7851;
  --border-color: #020826;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Times New Roman", "Times New Roman", Times, serif;
  background-color: var(--secondary-color);
}

main {
  background-color: var(--bg-color);
}

/* header */

.header {
  padding: 1.4em 0;
}

.title {
  display: inline-block;
  font-size: 2.4em;
  color: var(--headline-color);
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 0.15em;
}

.title-description {
  font-size: 1.1rem;
  color: var(--text-color);
}
